<style>
    .textcss{
        padding: 15px;
        border: 1px solid black;
    }
</style>
<div class = "textcss" > <span> Average: </span> <span id="textid" style= "padding-right: 20px;"> 150L/s</span> 
 <span> Minimum: </span> <span id="textmini" style= "padding-right: 20px;"> 10L/s </span> 
 <span> Maximum: </span> <span id="textmax" style= "padding-right: 20px;"> 500L/s </span> </div>
<div id="chartContainer"><%= @chart.render() %></div>

<script>
function random(){
    return Math.round(Math.random()*20) - 10;
}
function random1(){
    return Math.round(Math.random()*10) - 5;
}
var average_speed = 150;
var mini_speed = 10;
var max_speed = 500;
setInterval( function() {
        var text = average_speed + random();
        document.getElementById("textid").innerHTML = text + "L/s";
      }, 1000);
setTimeout(function() {
setInterval( function() {
        var text = mini_speed + random1();
        document.getElementById("textmini").innerHTML = text + "L/s";
      }, 6000)
}, 500);
setTimeout(function() {
setInterval( function() {
        var text = max_speed + random();
        document.getElementById("textmax").innerHTML = text + "L/s";
      }, 3000);
}, 1000);
</script>