<h2 class="contact-us">Contact Us</h2>
<div class="main">
  <%= form_with url: pages_submit_contact_us_details_path,local: true do |form| %>
    <fieldset class="fieldset fieldset--hidden">
      <div class="field">
        <div class="field__input-wrapper">
          <label class="field__label" for="email">Email</label>
          <input class="field__input" autocapitalize="off" type="email" name="contact_us[email]">
        </div>
      </div>    

      <div class="field">
        <div class="field__input-wrapper">
          <label class="field__label" for="last_name">Title</label>
          <input class="field__input" type="text" name="contact_us[subject]">
        </div>
      </div>
      
      <div class="field">
        <div class="field__input-wrapper">
          <label class="field__label" for="last_name">Message </label>
          <textarea class="field__input" rows="4" name="contact_us[description]"></textarea>
        </div>
      </div>

    </fieldset>
    <div class="form__footer text-center">
      <button name="button" type="submit" class="btn--cta" data-trekkie-id="complete_order_button" aria-busy="false">
        <span class="btn__content">Send</span>
      </button>
    </div>
  <% end %>
</div>