<% content_for :title, "Hydro-orient official website" %>
<% content_for :meta_description, "Hydro-orent pending..." %>

<div id="page-wrapper">
	<div id="welcome" class="container">
		<div class="title">
			<h2>Welcome to our website</h2>
		</div>
		<div class="welcm-discription">
			<p>Hydro-orient est leader en Amérique du Nord pour la gestion et le contrôle de l’eau. </p>

			<p>L’optimisation de la gestion de l’eau est indispensable d’un point de vue environnementale mais aussi en tant que citoyen.</p>

			<p>Il est dans l’intérêt de tous d’améliorer la maitrise de l’eau.</p>

			<p>Hydro-orient est spécialisée dans la gestion de l’eau, nos experts vous donneront des informations et des conseils spécifiques pour prévenir du gaspillage, de la surconsommation mais aussi des risques liés aux dégâts d’eau.</p>

			<p>Nos équipements sont uniques pour stopper les fuites d’eau, ce n’est point nécessaire d’installer des sondes à travers les locaux, un seul appareil prévient des fuites et stoppe automatiquement l’arrivée d’eau.</p>

			<p>Nous distribuons les outils nécessaires pour gérer adéquatement cette ressource vitale.</p>

			<p>Nos logiciels d’optimisation vous permettront d’administrer en temps réel les consommations de vos clients mais aussi de palier aux déficiences dues aux fuites des réseaux d’eau.</p>

			<p>Ces outils permettent aussi de gérer le personnel d’entretien et d’optimiser les temps d’interventions sur des sites éloignés.</p>
		</div>
	</div>
</div>
<div class="wrapper">
	<div class="container">
		<ul id="portfolio">
			<li class="portfolio-item">
				<div class="box">
					<%= image_tag("scr01.jpg", size: '120x120', class: "image image-full") %> 
					<h3>Titre</h3>
					<p>Le premier système de gestion de l’eau autonome assurant la coupure d’eau automatique en cas de fuite ou d’anomalie sur le réseau.</p>
					</div>
			</li>
			<li class="portfolio-item">
				<div class="box"> 
					<%= image_tag("scr02.jpg", size: '120x120', class: "image image-full") %> 
					<h3>La gestion de l'eau dans les collectivités</h3>
					<p>DIAGNOSTIQUE BESOINS : Mieux gérer la ressource<br>
							=> Limiter la consommation d'eau.<br>

							=> Gérer à distance l'alimentation en eau.<br>

							=> Démarche environnementale.</p>
					</div>
			</li>
			<li class="portfolio-item">
				<div class="box"> 
					<%= image_tag("scr03.jpg", size: '120x120', class: "image image-full") %> 
					<h3>Application</h3>
					<p>Application pour les particuliers, les immeubles a bureaux, les collectivités, les hôpitaux, les industries.</p>
					</div>
			</li>
			<li class="portfolio-item">
				<div class="box"> 
					<%= image_tag("scr04.jpg", size: '120x120', class: "image image-full") %> 
					<h3>Détéction</h3>
					<p>Détection des fuites et des ruptures de canalisation.</p>
					</div>
			</li>
		</ul>
	</div>
</div>
<div id="copyright" class="container">
	<p>&copy; Untitled. 2019 Hydro-orient. All Rights Reserved.</p>
</div>