<style>
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #map {
    height: 50%;
  }
  .gm-style-iw {
   background-color: #fff;
   color: #000;
}
</style>
<div id="map"></div>
<br>
Counters
<hr>
<button class="counter" data-id="0">Counter 1</button>
<button class="counter" data-id="1">Counter 2</button>
<button class="counter" data-id="2">Counter 3</button>
<button class="counter" data-id="3">Counter 4</button>
<button class="counter" data-id="4">Counter 5</button>
<button class="counter" data-id="5">Counter 6</button>
<button class="counter" data-id="6">Counter 7</button>
<button class="counter" data-id="7">Counter 8</button>
<button class="counter" data-id="8">Counter 9</button>
<button class="counter" data-id="9">Counter 10</button>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnuc-eD5w58Dy2EjdUULXABCk7-MYvJcg&callback=initMap"></script>

<script>
  var markers = [];
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 45.516136, lng: -73.656830},
      zoom: 13
    });

    var locationCounters = [
      [ 45.516136, -73.656830,"<div id='infoCounter0' data-time='0.045'>400000</div>"],
      [ 45.5045, -73.5561,"<div id='infoCounter1' data-time='0.0025'>105000</div>"],
      [ 45.5075, -73.5544,"<div id='infoCounter2' data-time='0.32'>7500150</div>"],
      [ 45.5016, -73.5932,"<div id='infoCounter3' data-time='0.0089'>351000</div>"],
      [ 45.5600, -73.5630,"<div id='infoCounter4' data-time='0.047'>551237</div>"],
      [ 45.4985, -73.5794,"<div id='infoCounter5' data-time='0.0014'>45600147</div>"],
      [ 45.4919, -73.6165,"<div id='infoCounter6' data-time='1000'>8954001</div>"],
      [ 45.5365, -73.6147,"<div id='infoCounter7' data-time='0.0024'>22245100</div>"],
      [ 45.5008, -73.5743,"<div id='infoCounter8' data-time='0.051'>6543210</div>"],
      [ 45.5027, -73.5542,"<div id='infoCounter9' data-time='0.147'>23100041</div>"]
    ];

    var marker, i;

    for (i = 0; i < locationCounters.length; i++) {
      eval('infowindow'+ i +' = new google.maps.InfoWindow({ content: locationCounters[i][2] })');
      console.log("test-->",i,"-->",locationCounters[i][0],"-->",locationCounters[i][2])
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locationCounters[i][0], locationCounters[i][1]),
        map: map,
        title: "Counter " + i
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          eval('infowindow'+i+'.open(map, marker)')
          
        }
      })(marker, i));

      // eval("google.maps.event.addListener(infowindow"+i+", 'domready', function() { var target = $($.parseHTML($(this)[0].content)); console.log('event trigger-->',parseFloat(target.data('time'))); var counter = 10000; setInterval( function() { target.html( counter++ ) }, 1000 ) });")
      eval("google.maps.event.addListener(infowindow"+i+", 'domready', function() { var target = $($.parseHTML($(this)[0].content)); startCounter(target) });")

      // Push the marker to the 'markers' array
      markers.push(marker);
    }

  }
  function startCounter(target){
    var target = $("#"+target.attr('id'))
    var counter = target.text();
    setInterval( function() {
      target.html( counter++ );
    }, target.data('time') );
  }
  $(document).on('click', '.counter', function(event) {
    console.log(markers[$(this).data("id")]);
    google.maps.event.trigger(markers[$(this).data("id")], 'click');
    /* Act on the event */
  });
</script>