<style>
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #map {
    height: 50%;
    width: 100%;
  }
  .gm-style-iw {
   background-color: #fff;
   color: #000;
}
.active_button {
  color: black;
  background-color: grey;
}
</style>
<div id="map"></div>
<br>
<div class="center">
Select a counter
</div>
<hr>
<div class="center">
<button class="counter hey" data-id="0" id="0">Counter 1 - On</button>
<button class="counter hey" data-id="1" id="1">Counter 2 - On</button>
<button class="counter hey" data-id="2" id="2">Counter 3 - On</button>
<button class="counter hey" data-id="3" id="3" >Counter 4 - On</button>
<button class="counter hey" data-id="4" id="4">Counter 5 - On</button>
<button class="counter hey" data-id="5" id="5">Counter 6 - On</button>
<button class="counter hey" data-id="6" id="6">Counter 7 - On</button>
<button class="counter hey" data-id="7" id="7">Counter 8 - On</button>
<button class="counter hey" data-id="8" id="8">Counter 9 - On</button>
<button class="counter hey" data-id="9" id="9">Counter 10 - On</button>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnuc-eD5w58Dy2EjdUULXABCk7-MYvJcg&callback=initMap"></script>

<script>
  var markers = [];
  var started_counters = [];
  var times_maker = [];
  var ii; 
  for (ii = 0; ii<10; ii++)
  {
    var txt = "infoCounter" + ii;
    times_maker[txt] =0;
  }

  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 45.516136, lng: -73.656830},
      zoom: 13
    });

    var locationCounters = [
      [ 45.516136, -73.656830,"<div id='infoCounter0' data-time='100000'>400000 m3/h</div>"],
      [ 45.5045, -73.5561,"<div id='infoCounter1' data-time='200000'>1050 m3/h</div>"],
      [ 45.5075, -73.5544,"<div id='infoCounter2' data-time='190000'>7500150 m3/h</div>"],
      [ 45.5216, -73.5932,"<div id='infoCounter3' data-time='165000'>351000 m3/h</div>"],
      [ 45.5600, -73.5630,"<div id='infoCounter4' data-time='140000'>551237 m3/h</div>"],
      [ 45.4985, -73.5794,"<div id='infoCounter5' data-time='185000'>45600147 m3/h</div>"],
      [ 45.4919, -73.6665,"<div id='infoCounter6' data-time='195000'>8954001 m3/h</div>"],
      [ 45.5365, -73.6147,"<div id='infoCounter7' data-time='121200'>22245100 m3/h</div>"],
      [ 45.5008, -73.5743,"<div id='infoCounter8' data-time='150000'>6543210 m3/h</div>"],
      [ 45.5027, -73.5052,"<div id='infoCounter9' data-time='140000'>23100041 m3/h</div>"]
    ];

    var marker, i;
    
    for (i = 0; i < locationCounters.length; i++) {
      eval('infowindow'+ i +' = new google.maps.InfoWindow({ content: locationCounters[i][2] })');
      console.log("test-->",i,"-->",locationCounters[i][0],"-->",locationCounters[i][2])
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locationCounters[i][0], locationCounters[i][1]),
        map: map,
        title: "Counter " + i
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          eval('infowindow'+i+'.open(map, marker)')
        }
      })(marker, i));

      // eval("google.maps.event.addListener(infowindow"+i+", 'domready', function() { var target = $($.parseHTML($(this)[0].content)); console.log('event trigger-->',parseFloat(target.data('time'))); var counter = 10000; setInterval( function() { target.html( counter++ ) }, 1000 ) });")
      eval("google.maps.event.addListener(infowindow"+i+", 'domready', function() { var target = $($.parseHTML($(this)[0].content)); startCounter(target) });")

      // Push the marker to the 'markers' array
      markers.push(marker);
    }

  }

  function startCounter(target){
      console.log(target.attr('id'));
      var target = $("#"+target.attr('id'))
      var counter = target.text();
      console.log();
      id = target.attr('id').slice(target.attr('id').length-1,target.attr('id').length);
      console.log(id);
      if(times_maker[target.attr('id')]){
        var shownumber = parseInt(id) + 1;
        document.getElementById(id).innerHTML = "Counter " + shownumber + " - On";
        $(document.getElementById(id)).removeClass("active_button");
        clearInterval(times_maker[target.attr('id')]);
        times_maker[target.attr('id')] = 0;
      }else {
        var shownumber = parseInt(id) + 1;
        document.getElementById(id).innerHTML = "Counter " + shownumber + " - Off";
        $(document.getElementById(id)).addClass("active_button");
        if (counter[counter.length-1] == 'h'){
          counter = counter.slice(0,counter.length-4);
        }
        times_maker[target.attr('id')] = setInterval( function() {
          target.html( counter++ + " m3/h" );
        }, target.data('time') );
      }

      
  }
  $(document).on('click', '.counter', function(event) {
    var id_element = $(this).data("id")
    if($(document.getElementById(id_element)).hasClass("active_button")){
      var shownumber = parseInt(id_element) + 1;
      document.getElementById(id_element).innerHTML = "Counter " + shownumber + " - On";
      $(document.getElementById(id_element)).removeClass("active_button");
      clearInterval(times_maker["infoCounter"+id_element]);
      times_maker["infoCounter"+id_element] = 0;
    }else{
      google.maps.event.trigger(markers[$(this).data("id")], 'click');
    }
    /* Act on the event */
  });
</script>