Hello Mr staynn,

You have received below query from <%= @email %>. Please find below details

table>
	<thead>
		<tr>
			<th>Subject</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th><%= @subject %></th>
			<th><%= @description %></th>
		</tr>
	</tbody>
</table>