Hello Mr staynn,

<%= @email %> sent you an E-email: 

<table>
	<thead>
		<tr>
			<th>Subject:</th>
			<th>Description:</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th><%= @subject %></th>
			<th><%= @description %></th>
		</tr>
	</tbody>
</table>